<style>
.stage {
	text-align: center;
}

canvas {
	max-width: 100%;
	max-height: 90%;
	margin: auto;
}

.overlay {
	text-align: center;
	padding: 50px;
	background-color: #000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.overlay img {
	max-width: 100%;
	max-height: 100%;
	background-color: #FFF;
	border-radius: 3px;
}

.instructions {
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 30%;
	right: 30%;
	padding-top: 15%;

	background-color: #DDD;
	border: 1px solid #BBB;
	border-radius: 5px;

	font-size: 1.1em;
	font-family: sans-serif;
	text-align: center;
}

.result-link {
	display: block;
	width: 50%;
	margin: auto;
	padding: 5px;

	background-color: #BBB;
	border-radius: 3px;

	text-align: center;

	text-decoration: none;
	color: #000;
}
</style>

<div id="progress">
<div class="instructions">drag an image here to convert</div>
</div>

<script src="canvas-sketch.js"></script>
<script>
var result = document.getElementById('result'), progress = document.getElementById('progress');
var convertor;

function canvasToUrl(canvas) {
	var base64 = canvas.toDataURL().replace(/^[^,]+,/, '');
	var stringData = atob(base64);
	base64 = null;
	var data = new Int8Array(stringData.length);
	for (var i = 0; i < stringData.length; i++) {
		data[i] = stringData.charCodeAt(i);
	}
	stringData = null;
	var blob = new Blob([data], {type: 'image/png'});
	return URL.createObjectURL(blob);
}

function processImage(image) {
	if (convertor) convertor.stop();
	progress.innerHTML = '';

	var config = {};
	var fragment = window.location.href.replace(/^[^#]*#?/, '');
	fragment.split('&').forEach(function (part) {
		var parts = part.split('=');
		if (parts.length < 2) return;
		var key = decodeURIComponent(parts.shift());
		var value = parseFloat(decodeURIComponent(parts.join('=')));
		if (!isNaN(value)) config[key] = value;
	});
	if (image.width*image.height < config.size*config.size && !config.scaleUp) {
		config.size = Math.sqrt(image.width*image.height);
	}

	var lastStage;
	convertor = CanvasSketch.convertImage(image, config, function (stage, p, canvas) {
		if (canvas) {
			if (stage !== lastStage) {
				lastStage = stage;
				if (canvas.parentNode) {
					canvas.parentNode.removeChild(canvas);
				}
				var div = document.createElement('div');
				div.className = 'stage';
				div.innerHTML = '\<hr>' + stage + ':\<br>';
				div.appendChild(canvas);
				progress.insertBefore(div, progress.childNodes[0]);
			}
		}
		document.title = stage + ': ' + Math.round(p*100) + '%';
	}, function (canvas) {
		document.title = 'done';

		var url = canvasToUrl(canvas);
		var link = document.createElement('a');
		link.className = 'result-link';
		link.innerHTML = 'view result as image';
		link.href = url;
		link.target = 'result' + Math.random();
		progress.insertBefore(link, progress.childNodes[0]);

	});
}

document.body.addEventListener('dragover', function (event) {
	event.preventDefault();
}, false);
document.body.addEventListener('drop', getFiles, false);
function getFiles(event) {
	event.preventDefault();
	var files = [];
	for (var i = 0; i < event.dataTransfer.files.length; i++) {
		files.push(event.dataTransfer.files[i]);
	}
	for (var i = 0; i < files.length; i++) {
		var file = files[0];
		if (file.type.indexOf('image') === -1) {
			continue;
		} else {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function (event) {
				var image = new Image();
				image.src = event.target.result;
				image.onload = function() {
					processImage(image);
				};
			};
			return;
		}
	}
}
</script>
